# SPDX-FileCopyrightText: 2026 Corentin Noël <corentin.noel@collabora.com>
# SPDX-License-Identifier: GPL-2.0-or-later

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{js,c,h}]
indent_style = space
indent_size = 4

[meson.build]
indent_style = tab

[*.{blp,css,json,xml,xml.in,xml.in.in,yml}]
indent_style = space
indent_size = 2
