*.orig
*~
*#*

ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
libtool
config/
config.log
config.status
configure
install-sh
missing
.deps/
.flatpak-builder/
.libs/
*.o
*.lo
*.la

.buildconfig

data/org.gnome.Maps.appdata.xml
data/org.gnome.Maps.desktop
data/org.gnome.Maps.desktop.in
data/org.gnome.Maps.gschema.xml.in
data/org.gnome.Maps.gschema.valid

m4/*.m4

po/.intltool-merge-cache
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/stamp-it
po/*.sed
po/*.gmo
po/*.sin
po/*.header

src/gnome-maps
src/*.gresource
src/*.gresource.xml
src/org.gnome.Maps.service

/lib/GnomeMaps-1.0.gir
/lib/GnomeMaps-1.0.typelib
/lib/maps-enum-types.[ch]

build/
dist/