*.orig
*~

ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
libtool
config/
config.log
config.status
configure
install-sh
missing

data/gnome-maps.desktop
data/gnome-maps.desktop.in
data/org.gnome.maps.gschema.valid
data/org.gnome.maps.gschema.xml

po/.intltool-merge-cache
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/stamp-it
po/*.sed
po/*.gmo
po/*.sin
po/*.header

src/config.js
src/gnome-maps
src/gnome-maps.gresource
src/path.js