*.orig
*~
*#*

ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
libtool
config/
config.log
config.status
configure
install-sh
missing
.deps/
*.o

data/org.gnome.Maps.appdata.xml
data/org.gnome.Maps.desktop
data/org.gnome.Maps.desktop.in
data/org.gnome.maps.gschema.valid
data/org.gnome.maps.gschema.xml

m4/*.m4

po/.intltool-merge-cache
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/stamp-it
po/*.sed
po/*.gmo
po/*.sin
po/*.header

src/config.js
src/gnome-maps
src/*.gresource
src/path.js
src/gnome-maps-js.[ch]
src/gnome-maps-data.[ch]
