include: 'https://gitlab.gnome.org/GNOME/citemplates/raw/master/flatpak/flatpak_ci_initiative.yml'

flatpak:
    extends: .flatpak
    image: registry.gitlab.gnome.org/gnome/gnome-runtime-images/gnome:master
    stage: test
    variables:
        # Replace with your manifest path
        MANIFEST_PATH: "org.gnome.Maps.json"
        RUNTIME_REPO: "https://nightly.gnome.org/gnome-nightly.flatpakrepo"
        # Replace with your application name, as written in the manifest
        FLATPAK_MODULE: "gnome-maps"
        APP_ID: "org.gnome.Maps.Devel"
        BUNDLE: "gnome-maps-git.flatpak"

nightly:
    extends: '.publish_nightly'
    # assuming your job in named 'flatpak'
    dependencies: ['flatpak']

