.maps-sidebar {
    border-width: 0 0 0 1px;
}

.maps-sidebar:dir(rtl) {
    border-width: 0 1px 0 0;
}

.search-popup {
	margin: 0px;
	padding: 5px;
	border-radius: 0px;
}

.zoom-control {
    background-color: transparent;
}

.zoom-control GtkButton {
    background-repeat: no-repeat;
    opacity: 0.65;
    border-width: 0;
    border-image-width: 0;
}

.zoom-control GtkButton:hover {
    opacity: 0.5;
}

#zoom-in-button {
    background-image: url('zoom-in.png');
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#zoom-in-button:insensitive {
    background-image: url('zoom-in-insensitive.png');
}

#zoom-out-button {
    background-image: url('zoom-out.png');
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

#zoom-out-button:insensitive {
    background-image: url('zoom-out-insensitive.png');
}
