.maps-popover {
    padding: 5px;
}

.layer-radio-button {
    background-image: none;
    padding: 0px;
    border: 2px solid @insensitive_borders;
    -GtkWidget-focus-line-width: 1;
    -GtkWidget-focus-padding: 1;
    -GtkButton-image-spacing: 0;
    -GtkButton-interior-focus: true;
}

.layer-radio-button:active {
    border: 2px solid @suggested_action_button_a;
}

.maps-notification {
    border-radius: 0px 0px 0px 0px;
}


#zoom-in-button {
    font-weight: bold;
}

#zoom-out-button {
    font-weight: bold;
}

#via-grid-container {
    background-color: transparent;
}

#via-grid-container .list-row:hover {
    background-color: transparent;
}

#via-grid-container .list-row:focus {
    outline: 0;
}

#via-grid-container > GtkLabel {
    padding-right: 6px;
}

#via-grid-container > GtkLabel:dir(rtl) {
    padding-left: 6px;
}

#via-grid-container .transportation-mode-button > GtkImage {
    padding-left:   7px;
    padding-right:  7px;
    padding-top:    4px;
    padding-bottom: 4px;
}

#sidebar {
    border-left: 1px solid gray;
}

#sidebar:dir(rtl) {
    border-right: 1px solid gray;
}

#instruction-box > GtkImage {
    padding-right: 6px;
    padding-left: 6px;
}

.bubble-title {
    font-size: large;
    font-weight: bold;
}

.bubble-subtitle {
    font-size: small;
}

.bubble-content {
    font-size: small;
}
